anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
ipykernel==5.1.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.4.2
jupyter==1.0.0
matplotlib==3.0.3
numpy==1.16.2
pandas==1.0.3
# Python 3.7.3

